// Colors
$color-light: #eee;
// #282c34
// #21252b
$color-dark: #1a1a1a;
$color-nav-aside: #21252b;
$color-main: #282c34;

$color-primary: #42b574;
$color-silver-transparent: #54545480;
$color-code: #242424;
$color-pink: #f92672;
$color-red: red;

// Animations
$fadeIn: 300ms fadeIn ease-in-out;
$fadeInUp: 300ms fadeInUp ease-in-out;
$fadeInDown: 300ms fadeInDown ease-in-out;
$fadeInRight: 300ms fadeInRight ease-in-out;
$fadeInLeft: 300ms fadeInLeft ease-in-out;

// Helpers
$line-height: 1.8;
$margin-bottom: 1.5em;
$margin-sp-content: 2.5em;
$trs: all 200ms ease-in-out;