$color-light: #eee;
$color-dark: #1a1a1a;
$color-primary: #42b574;
$color-silver-transparent: #54545480;
$color-code: #242424;
$color-pink: #f92672;
$line-height: 1.8;
$margin-bottom: 1.5em;
$margin-sp-content: 2.5em;
$color-red: red;
$trs: all 200ms ease-in-out;